<a href="https://colab.research.google.com/github/JSEFERINO/Estadistica_Moderna/blob/main/02_C_Datos_Listas_Diccionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Curso Introductorio de Estadistica Moderna**
## **Con Mi Profe: Julio Hurtado Marquez**
**EMAIL: juliohur@gmail.com**

In [ ]:
import pandas as pd
import numpy as np

# **Clase No. 2: Diccionarios y Listas**

# **1. Variables - Mensajes**

$\bullet$ **a. Creamos varios mensajes o variables**

In [2]:
message_1 = "Dayana esta de pasantía en Corea del Sur"
print(message_1)

Dayana esta de pasantía en Corea del Sur

In [3]:
message_2 = "y Aris esta realizando sus estudios doctorales"
print(message_2)

y Aris esta realizando sus estudios doctorales

In [4]:
message_3 = "Mi esposa y yo estamos muy felices"
print(message_3)

Mi esposa y yo estamos muy felices

$\bullet$ **b. Concatenando varios mensajes o variables: simbolo +**

In [5]:
message_1+message_2+message_3 # Los mensajes no se encuentran separados

'Dayana esta de pasantía en Corea del Sury Aris esta realizando sus estudios doctoralesMi esposa y yo estamos muy felices'

In [6]:
print(message_1+message_2+message_3)

Dayana esta de pasantía en Corea del Sury Aris esta realizando sus estudios doctoralesMi esposa y yo estamos muy felices

#**c. Creando el espacio**

In [7]:
message_1+" " +message_2 +" "+message_3 # Los mensajes fueron separados

'Dayana esta de pasantía en Corea del Sur y Aris esta realizando sus estudios doctorales Mi esposa y yo estamos muy felices'

In [8]:
print(message_1 + " " + message_2 + " " + message_3)

Dayana esta de pasantía en Corea del Sur y Aris esta realizando sus estudios doctorales Mi esposa y yo estamos muy felices

# **d. Concatenando texto con la cadena f"{}"**

In [9]:
f"{message_1} {message_2}" # se deja un espacio entre las comillas

'Dayana esta de pasantía en Corea del Sur y Aris esta realizando sus estudios doctorales'

In [10]:
f"{message_1} {message_2}. {message_3}" #Colocamos un punto al final del mensaje 2

'Dayana esta de pasantía en Corea del Sur y Aris esta realizando sus estudios doctorales. Mi esposa y yo estamos muy felices'

#**2. Listas**
- Las listas nos permiten almacenar cualquier tipo de valor como numeros enteros, numeros con decimal, valores booleanos y cadenas de texto
- Los corchetes unicamente funcionan para crear listas
- Su estructura es la siguiente
- Lista = [4, 5, 7, "Hola", "Julio", 3.85]

- **Un vistazo a los diferentes métodos**.
Puedes utilizar los siguientes métodos en tu lista de Python. Probablemente ya conozcas algunos de ellos si leíste el tutorial para aprender Python.

|Método	|Descripción|
|:--:|:--:|
|Append|	Añade un elemento al final de la lista.|
|Clear|	Elimina todos los elementos de la lista de Python.|
|Copy	|Realiza una copia de tu lista.|
|Count	|Cuenta todos los elementos con un determinado valor en la lista de Python.|
|Extend	|Añade todos los elementos de otra lista a la lista actual.|
|Index	|Busca un elemento específico dentro de la lista de Python y retorna su número de índice.|
|Insert|	Inserta un elemento en una posición determinada.|
|Pop	|Elimina un elemento de una posición concreta y lo utiliza como valor de retorno.|
|Remove	|Elimina el primer elemento que tiene un valor específico.|
|Reverse|	Invierte el orden de la lista de Python.|
|Sort|	Ordena la lista.|

#**a. Creando listas**
## **Una lista con las ciudades capitales de Colombia**

In [12]:
ciudad = ["Cartagena", "Barranquilla", "Santa Marta", "Montería", "Sincelejo", "Valledupar", "Riohacha"]
print(ciudad)

['Cartagena', 'Barranquilla', 'Santa Marta', 'Montería', 'Sincelejo', 'Valledupar', 'Riohacha']

In [13]:
dpto = ["Bolívar", "Atlántico", "Magdalena", "Córdoba", "Sucre", "Cesar", "Guajira"]
print(dpto)

['Bolívar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira']

# **b. Creando una copia de una lista**

In [14]:
ciudad_2 = ciudad.copy()
print(ciudad_2)

['Cartagena', 'Barranquilla', 'Santa Marta', 'Montería', 'Sincelejo', 'Valledupar', 'Riohacha']

In [15]:
dpto_2 = dpto.copy()
print(dpto_2)

['Bolívar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira']

#**3. Indexación: En python se comienza con el número 0**

$\bullet$ **a. Posición_inicial**

In [16]:
# Posición inicial
ciudad[0], dpto[0]

('Cartagena', 'Bolívar')

$\bullet$ **b. Posición_2**

In [17]:
# Posición 2
ciudad[1], dpto[1]

('Barranquilla', 'Atlántico')

$\bullet$ **c. Posición_7**

In [18]:
# Posición 7
ciudad[6], dpto[6]

('Riohacha', 'Guajira')

$\bullet$ **d. En orden contrario usamos el negativo**

In [19]:
# Posición Final
ciudad[-1], dpto[-1]

('Riohacha', 'Guajira')

In [20]:
ciudad[-5], dpto[-5]

('Santa Marta', 'Magdalena')

#**4. Rebanada / Slicing**

$\bullet$ **a. Las dos listas**

In [23]:
print(ciudad)
print(dpto)

['Cartagena', 'Barranquilla', 'Santa Marta', 'Montería', 'Sincelejo', 'Valledupar', 'Riohacha']
['Bolívar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira']

$\bullet$ **b. Las tres primeras observaciones de las dos listas**

In [21]:
ciudad[0:3],dpto[0:3]# recuerden que la posición 3 es obviado, la lista termina en uno menos

(['Cartagena', 'Barranquilla', 'Santa Marta'],
 ['Bolívar', 'Atlántico', 'Magdalena'])

$\bullet$ **c. Las tres penultimas observaciones de las dos listas**

In [30]:
ciudad[-4:-1], dpto[-4:-1]# la posición -1 se omite

(['Montería', 'Sincelejo', 'Valledupar'], ['Córdoba', 'Sucre', 'Cesar'])

$\bullet$ **d. La Posición tres en adelante**

In [31]:
ciudad[3:], dpto[3:] # Posición tres en adelante

(['Montería', 'Sincelejo', 'Valledupar', 'Riohacha'],
 ['Córdoba', 'Sucre', 'Cesar', 'Guajira'])

$\bullet$ **e. Posición acumulada**

In [32]:
ciudad[:3], dpto[:3] #Hasta la posición 2 porque la cuenta empieza desde cero

(['Cartagena', 'Barranquilla', 'Santa Marta'],
 ['Bolívar', 'Atlántico', 'Magdalena'])

# **5. Operaciones y métodos: append**

$\bullet$ **a. Las dos listas**

In [33]:
ciudad = ["Cartagena", "Barranquilla", "Santa Marta", "Montería", "Sincelejo", "Valledupar", "Riohacha"]
print(ciudad)

['Cartagena', 'Barranquilla', 'Santa Marta', 'Montería', 'Sincelejo', 'Valledupar', 'Riohacha']

In [34]:
dpto = ["Bolívar", "Atlántico", "Magdalena", "Córdoba", "Sucre", "Cesar", "Guajira"]
print(dpto)

['Bolívar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira']

$\bullet$ **b. Añadir la ciudad de Bogotá**

In [35]:
ciudad.append("Bogotá")
print(ciudad)

['Cartagena', 'Barranquilla', 'Santa Marta', 'Montería', 'Sincelejo', 'Valledupar', 'Riohacha', 'Bogotá']

In [36]:
ciudad[7]

'Bogotá'

$\bullet$ **c. Añadir el Dpto. de Cundinamarca**

In [37]:
dpto.append("Cundinamarca")
print(dpto)

['Bolívar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira', 'Cundinamarca']

In [38]:
dpto[7]

'Cundinamarca'

# **6. Operaciones y métodos: insert**

* **Insert**:	Inserta un elemento en una posición determinada.

$\bullet$ **a. Insertar Medellin en la posición inicial de _ciudad_**

In [39]:
ciudad.insert(0, "Medellin")
print(ciudad)

['Medellin', 'Cartagena', 'Barranquilla', 'Santa Marta', 'Montería', 'Sincelejo', 'Valledupar', 'Riohacha', 'Bogotá']

$\bullet$ **b. Insertar Antioquia en la posición inicial de _Dpto_**

In [40]:
dpto.insert(0,"Antioquia")
print(dpto)

['Antioquia', 'Bolívar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira', 'Cundinamarca']

# **7. Vamos a concatenar ciudad con Dpto**

$\bullet$ **a. Usando la cadena _f_**

In [41]:
f"{ciudad} {dpto}"

"['Medellin', 'Cartagena', 'Barranquilla', 'Santa Marta', 'Montería', 'Sincelejo', 'Valledupar', 'Riohacha', 'Bogotá'] ['Antioquia', 'Bolívar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira', 'Cundinamarca']"

In [42]:
print(f"{ciudad} {dpto}")

['Medellin', 'Cartagena', 'Barranquilla', 'Santa Marta', 'Montería', 'Sincelejo', 'Valledupar', 'Riohacha', 'Bogotá'] ['Antioquia', 'Bolívar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira', 'Cundinamarca']

$\bullet$ **b. sumamos ambas listas**

In [44]:
ciudad + dpto # Concatenar dos listas
print(ciudad + dpto)

['Medellin', 'Cartagena', 'Barranquilla', 'Santa Marta', 'Montería', 'Sincelejo', 'Valledupar', 'Riohacha', 'Bogotá', 'Antioquia', 'Bolívar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira', 'Cundinamarca']

#**8. Listas anidadas**

In [46]:
region = [ciudad, dpto]
print(region)

[['Medellin', 'Cartagena', 'Barranquilla', 'Santa Marta', 'Montería', 'Sincelejo', 'Valledupar', 'Riohacha', 'Bogotá'], ['Antioquia', 'Bolívar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira', 'Cundinamarca']]

#**9. Eliminar elementos de una lista usando remove(), pop(), del**

$\bullet$ **a. copia de una lista**

In [47]:
# Conservemos nuestras ciudades originales
ciudad3 =ciudad.copy()
ciudad3

['Medellin',
 'Cartagena',
 'Barranquilla',
 'Santa Marta',
 'Montería',
 'Sincelejo',
 'Valledupar',
 'Riohacha',
 'Bogotá']

$\bullet$ **b. Usando -remove_**
- _Remove_:  	Elimina el primer elemento que tiene un valor específico.

In [48]:
# Vamos a eliminar Bogota
ciudad.remove("Bogotá") # Usando remove()
ciudad

['Medellin',
 'Cartagena',
 'Barranquilla',
 'Santa Marta',
 'Montería',
 'Sincelejo',
 'Valledupar',
 'Riohacha']

$\bullet$ **c. Usando _append_ para agregar**

In [49]:
dpto.append('Chocó')
dpto

['Antioquia',
 'Bolívar',
 'Atlántico',
 'Magdalena',
 'Córdoba',
 'Sucre',
 'Cesar',
 'Guajira',
 'Cundinamarca',
 'Chocó']

$\bullet$ **d. _Pop_	Elimina un elemento de una posición concreta y lo utiliza como valor de retorno.**

In [50]:
# Removamos Cundinamarca
dpto.pop(9) # Usando pop()
dpto

['Antioquia',
 'Bolívar',
 'Atlántico',
 'Magdalena',
 'Córdoba',
 'Sucre',
 'Cesar',
 'Guajira',
 'Cundinamarca']

$\bullet$ **e. _del_ tambien es util para eliminar una posión de la lista**

In [51]:
del dpto[8]
dpto

['Antioquia',
 'Bolívar',
 'Atlántico',
 'Magdalena',
 'Córdoba',
 'Sucre',
 'Cesar',
 'Guajira']

In [52]:
del dpto[0]
dpto

['Bolívar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira']

#**10. Ordenar una lista: sort() y reverse()**

- **Reverse**
- - Invierte el orden de la lista de Python.
- **Sort**
- - Ordena la lista.

$\bullet$ **a. Creamos una lista de números**

In [53]:
# Creamos una lista d numeros
numeros = [1, 4, 7, 2,9,6, 3,6,7]
numeros

[1, 4, 7, 2, 9, 6, 3, 6, 7]

$\bullet$ **b. ordenamos la lista de menor a mayor**

In [54]:
# ordenamos la lista
numeros.sort()
numeros

[1, 2, 3, 4, 6, 6, 7, 7, 9]

$\bullet$ **c. Revertimos el orden**

In [55]:
# Revertimos el orden
numeros.sort(reverse = True)
numeros

[9, 7, 7, 6, 6, 4, 3, 2, 1]

$\bullet$ **d. creamos otra lista y usamos reverse**

In [56]:
#creamos otra lista
numeros2 = [1, 4, 7, 2, 9, 6, 3, 6, 7, 3, 4, 5, 8, 9, 4, 6, 2]
numeros2.reverse() #Revertimos el orden
numeros2

[2, 6, 4, 9, 8, 5, 4, 3, 7, 6, 3, 6, 9, 2, 7, 4, 1]

$\bullet$ **e. Ordenamos la lista**

In [57]:
# Ordemamos la lista
numeros2.sort()
numeros2

[1, 2, 2, 3, 3, 4, 4, 4, 5, 6, 6, 6, 7, 7, 8, 9, 9]

$\bullet$ **f. Remplazamos la posición 3 por 5**

In [58]:
# Remplazamos la posición 3 por 5
numeros2[3] = 5
numeros2

[1, 2, 2, 5, 3, 4, 4, 4, 5, 6, 6, 6, 7, 7, 8, 9, 9]

In [59]:
numeros2.sort(reverse = True)
numeros2

[9, 9, 8, 7, 7, 6, 6, 6, 5, 5, 4, 4, 4, 3, 2, 2, 1]

In [60]:
numeros2[1] = 18
numeros2

[9, 18, 8, 7, 7, 6, 6, 6, 5, 5, 4, 4, 4, 3, 2, 2, 1]

In [61]:
numeros2.sort(reverse = True)
numeros2

[18, 9, 8, 7, 7, 6, 6, 6, 5, 5, 4, 4, 4, 3, 2, 2, 1]

# **11. Diccionarios - Parte I**
## **¿Qué es un diccionario en Python?**

- Los diccionarios en Python nos permiten almacenar una serie de mapeos entre dos conjuntos de elementos, llamados *keys* y *values* (Claves y Valores).

- Todos los elementos en el diccionario se encuentran encerrados en un par de llaves {}.
- Cada elemento en un diccionario contiene una clave y un valor - es decir un par de clave-valor.
- Cada par de clave-valor es denominado como elemento (item).
- La ventaja de esto es que puedes acceder a todos los valores almacenados usando simplemente las claves.

$\bullet$ **a. Estructura de un diccionario**

In [63]:
## **a. Estructura de un diccionario**
mi_diccionario = {"key1":"value1","key2":"value2"}
mi_diccionario

{'key1': 'value1', 'key2': 'value2'}

$\bullet$ **b. Los Cumpleaños en mi Familia**

In [64]:
## **b. Los Cumpleaños en mi Familia**
cumpleaños = {"Papá":"6 de Febrero", "Mamá":"23 de Septiembre", "Hija_mayor":"21 de Marzo", "Hija_menor":"21 de Julio"}
cumpleaños

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio'}

$\bullet$ **c. ¿Cuando cumple Papá?**

In [67]:
## **c. ¿Cuando cumple Papá?**
cumpleaños["Papá"]

'6 de Febrero'

$\bullet$ **d. ¿Cuando cumple la hija menor?**

In [66]:
## **d. ¿Cuando cumple la hija menor?**
cumpleaños["Hija_menor"]

'21 de Julio'

$\bullet$ **e. ¿Los miembros de mi familia?**

In [68]:
## **e. ¿Los miembros de mi familia?**
cumpleaños.keys()

dict_keys(['Papá', 'Mamá', 'Hija_mayor', 'Hija_menor'])

$\bullet$ **f. ¿las fechas de cumpleaños?**

In [69]:
## **f. ¿las fechas de cumpleaños?**
cumpleaños.values()

dict_values(['6 de Febrero', '23 de Septiembre', '21 de Marzo', '21 de Julio'])

$\bullet$ **g. Los items del diccionario**

In [ ]:
## **g. Los items del diccionario**
cumpleaños.items()

dict_items([('Papá', '6 de Febrero'), ('Mamá', '23 de Septiembre'), ('Hija_mayor', '21 de Marzo'), ('Hija_menor', '21 de Julio')])

# **12. Diccionarios - Parte II**

$\bullet$ **a. Recordemos los cumpleaños de mi familia**

In [70]:
### **Recordemos los cumpleaños de mi familia**
cumpleaños

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio'}

$\bullet$ **b. Agregamos el cumpleaños de la abuela paterna**

In [71]:
## **Agregamos el cumpleaños de la abuela paterna**
cumpleaños["Abuela_P"] = "4 de Mayo"
cumpleaños

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio',
 'Abuela_P': '4 de Mayo'}

$\bullet$ **c. Agregamos el cumpleaños de la abuela materna**

In [ ]:
## **Agregamos el cumpleaños de la abuela materna**
cumpleaños["Abuela_M"] = "16 de Febrero"
cumpleaños

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio',
 'Abuela_P': '4 de Mayo',
 'Abuela_M': '16 de Febrero'}

$\bullet$ **d. Agregamos el cumpleaños de las mascotas**

In [72]:
## **Agregamos el cumpleaños de las mascotas**
cumpleaños["Mascota_1"] = "10 de Diciembre"
cumpleaños["Mascota_2"] = "21 de Septiembre"
cumpleaños

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio',
 'Abuela_P': '4 de Mayo',
 'Mascota_1': '10 de Diciembre',
 'Mascota_2': '21 de Septiembre'}

$\bullet$ **e.  Hagamos una copia de mi diccionario**

In [73]:
## **i. Hagamos una copia de mi diccionario**
cumpleaños2 = cumpleaños.copy()
cumpleaños2

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio',
 'Abuela_P': '4 de Mayo',
 'Mascota_1': '10 de Diciembre',
 'Mascota_2': '21 de Septiembre'}

$\bullet$ **f. Vamos Actualizar la información**

In [74]:
cumpleaños.update({"Parentesco":["Papa", "Mama", "Hija mayor", "Hija menor", "Abuela Paterna", "Abuela Materna", 'Mascota_1', 'Mascota_2']})
cumpleaños

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio',
 'Abuela_P': '4 de Mayo',
 'Mascota_1': '10 de Diciembre',
 'Mascota_2': '21 de Septiembre',
 'Parentesco': ['Papa',
  'Mama',
  'Hija mayor',
  'Hija menor',
  'Abuela Paterna',
  'Abuela Materna',
  'Mascota_1',
  'Mascota_2']}

$\bullet$ **g. Eliminar elementos del diccionario: pop, del, clear**

In [75]:
# **Recordemos nuestro diccionario**
cumpleaños

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio',
 'Abuela_P': '4 de Mayo',
 'Mascota_1': '10 de Diciembre',
 'Mascota_2': '21 de Septiembre',
 'Parentesco': ['Papa',
  'Mama',
  'Hija mayor',
  'Hija menor',
  'Abuela Paterna',
  'Abuela Materna',
  'Mascota_1',
  'Mascota_2']}

$\bullet$ **h. Eliminar elementos del diccionario: pop, del, clear**

In [76]:
## **a. Eliminemos del dicionario Parentesco**
cumpleaños3 = cumpleaños.copy()
cumpleaños3.pop("Parentesco")
cumpleaños3

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio',
 'Abuela_P': '4 de Mayo',
 'Mascota_1': '10 de Diciembre',
 'Mascota_2': '21 de Septiembre'}

$\bullet$ **i. Eliminar elementos del diccionario:del**

In [77]:
del cumpleaños3["Mascota_2"]

In [78]:
cumpleaños3

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio',
 'Abuela_P': '4 de Mayo',
 'Mascota_1': '10 de Diciembre'}

$\bullet$ **h. Eliminar elementos del diccionario: clear**

In [79]:
cumpleaños3.clear()#elimina los item de un diccionario

In [80]:
cumpleaños3

{}

# **13. Diccionarios - Parte III - Creando un DataFrame a partir de un diccionario**

$\bullet$ **a. Creando un DataFrame con el diciconario**

In [83]:
import pandas as pd
cumpleaños = pd.DataFrame(cumpleaños2.values(), index=cumpleaños2.keys(), columns=['Dia del Cumpleaños'])
print(cumpleaños)

           Dia del Cumpleaños
Papá             6 de Febrero
Mamá         23 de Septiembre
Hija_mayor        21 de Marzo
Hija_menor        21 de Julio
Abuela_P            4 de Mayo
Mascota_1     10 de Diciembre
Mascota_2    21 de Septiembre

$\bullet$ **b. Agregando al DataFrame una nueva columna**

In [84]:
Año_nac = [1969, 1970, 1999, 2002, 1948, 2009, 2019 ]
cumpleaños['Año de Nacimiento'] = Año_nac
print(cumpleaños)

           Dia del Cumpleaños  Año de Nacimiento
Papá             6 de Febrero               1969
Mamá         23 de Septiembre               1970
Hija_mayor        21 de Marzo               1999
Hija_menor        21 de Julio               2002
Abuela_P            4 de Mayo               1948
Mascota_1     10 de Diciembre               2009
Mascota_2    21 de Septiembre               2019