<a href="https://colab.research.google.com/github/JSEFERINO/Estadistica_Moderna/blob/main/72_C_Datos_Pandas_groupby().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas groupby() explicado con ejemplos**
+ De manera similar a la cláusula SQL GROUP BY, DataFrame.groupby() la función pandas se utiliza para recopilar datos idénticos en grupos y realizar funciones agregadas en los datos agrupados. La operación agrupar por implica dividir los datos, aplicar algunas funciones y finalmente agregar los resultados.


+ En pandas , puedes usarlo groupby()con la combinación de sum(), pivot(), transform(), aggregate() y muchos más métodos . En este artículo, cubriré cómo agrupar por una sola columna o por varias columnas mediante el uso de agregaciones con ejemplos.pivot()transform()

# **1. Sintaxis de Pandas groupby()**
+ A continuación se muestra la sintaxis de la groupby()función, esta función toma varios parámetros que se explican a continuación y devuelve DataFrameGroupByun objeto que contiene información sobre los grupos.
+

## **Ejemplo_1. Para explicar varios ejemplos de cómo realizar agrupar por, primero, creemos un DataFrame simple con la combinación de cadenas y columnas numéricas.**

In [ ]:
import pandas as pd
technologies   = ({
    'Courses':["Spark","PySpark","Hadoop","Python","Pandas","Hadoop","Spark","Python","NA"],
    'Fee' :[22000,25000,23000,24000,26000,25000,25000,22000,1500],
    'Duration':['30days','50days','55days','40days','60days','35days','30days','50days','40days'],
    'Discount':[1000,2300,1000,1200,2500,None,1400,1600,0]
          })
df = pd.DataFrame(technologies)
print(df)

   Courses    Fee Duration  Discount
0    Spark  22000   30days    1000.0
1  PySpark  25000   50days    2300.0
2   Hadoop  23000   55days    1000.0
3   Python  24000   40days    1200.0
4   Pandas  26000   60days    2500.0
5   Hadoop  25000   35days       NaN
6    Spark  25000   30days    1400.0
7   Python  22000   50days    1600.0
8       NA   1500   40days       0.0

# **2. Ejemplo de pandas groupby()**
+ Como dije anteriormente, _groupby()_la función devuelve DataFrameGroupBy el objeto después de recopilar datos idénticos en grupos de pandas DataFrame.
+ Este objeto contiene varios métodos ( sum(), mean()etc.) que se pueden utilizar para agregar las filas agrupadas.

In [ ]:
# Use groupby() to compute the sum
df2 =df.groupby(['Courses']).sum()
print(df2)

           Fee  Discount
Courses
Hadoop   48000    1000.0
NA        1500       0.0
Pandas   26000    2500.0
PySpark  25000    2300.0
Python   46000    2800.0
Spark    47000    2400.0

<ipython-input-26-1ec01e577477>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2 =df.groupby(['Courses']).sum()

# **3. Pandas groupby() en dos o más columnas**
+ La mayoría de las veces necesitaríamos realizar la agrupación en varias columnas de DataFrame; puede hacerlo pasando una lista de etiquetas de columnas en las que desea realizar la agrupación.

In [ ]:
# Group by multiple columns
df2 =df.groupby(['Courses', 'Duration']).sum()
print(df2)

                    Fee  Discount
Courses Duration
Hadoop  35days    25000       0.0
        55days    23000    1000.0
NA      40days     1500       0.0
Pandas  60days    26000    2500.0
PySpark 50days    25000    2300.0
Python  40days    24000    1200.0
        50days    22000    1600.0
Spark   30days    47000    2400.0

# **4. Agregue índice a los datos agrupados.**
+ De forma predeterminada, _groupby()_ el resultado no incluye el índice de fila; puede agregar el índice utilizando el método DataFrame.reset_index().

In [ ]:
# Add Row Index to the group by result
df2 = df.groupby(['Courses','Duration']).sum().reset_index()
print(df2)

   Courses Duration    Fee  Discount
0   Hadoop   35days  25000       0.0
1   Hadoop   55days  23000    1000.0
2       NA   40days   1500       0.0
3   Pandas   60days  26000    2500.0
4  PySpark   50days  25000    2300.0
5   Python   40days  24000    1200.0
6   Python   50days  22000    1600.0
7    Spark   30days  47000    2400.0

## **5. Elimine NA /Ninguno/Nan (en la clave de grupo) del resultado**
+ También puede elegir si desea incluir NA/Ninguno/Nan en las claves de grupo o no configurando  dropna el parámetro.
+ De forma predeterminada, el valor de dropna establecido en True. para no incluir valores Ninguno/Nan en el dropna=False parámetro establecido de claves de grupo.

In [ ]:
# Drop rows that have None/Nan on group keys
df2=df.groupby(by=['Courses'], dropna=True).sum()
print(df2)

           Fee  Discount
Courses
Hadoop   48000    1000.0
NA        1500       0.0
Pandas   26000    2500.0
PySpark  25000    2300.0
Python   46000    2800.0
Spark    47000    2400.0

<ipython-input-29-2b2deb70cb2c>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2=df.groupby(by=['Courses'], dropna=True).sum()

# **6. Ordenar el resultado de groupby() por clave de grupo**
+ De forma predeterminada, la función groupby() ordena los resultados por clave de grupo, por lo que llevará más tiempo. Si tiene un problema de rendimiento y no desea ordenar el grupo por el resultado, puede desactivarlo usando el parámetro sort=False.

In [ ]:
# Remove sorting on grouped results
df2=df.groupby(by=['Courses'], sort=False).sum()
print(df2)

           Fee  Discount
Courses
Spark    47000    2400.0
PySpark  25000    2300.0
Hadoop   48000    1000.0
Python   46000    2800.0
Pandas   26000    2500.0
NA        1500       0.0

<ipython-input-30-f41867b2f5c5>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2=df.groupby(by=['Courses'], sort=False).sum()

+ **Si desea ordenar las claves en orden descendente, utilice a continuación.**

In [ ]:
# Sorting group keys on descending order
groupedDF = df.groupby('Courses',sort=False).sum()
sortedDF=groupedDF.sort_values('Courses', ascending=False)
print(sortedDF)

           Fee  Discount
Courses
Spark    47000    2400.0
Python   46000    2800.0
PySpark  25000    2300.0
Pandas   26000    2500.0
NA        1500       0.0
Hadoop   48000    1000.0

<ipython-input-31-da6abfb9eda9>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  groupedDF = df.groupby('Courses',sort=False).sum()

+ **En caso de que desee ordenar por una clave diferente, puede hacerlo utilizando la función DataFrame.apply() .**

In [ ]:

# Using apply() & lambda
df.groupby('Courses').apply(lambda x: x.sort_values('Fee'))

           Courses    Fee Duration  Discount
Courses
Hadoop  2   Hadoop  23000   55days    1000.0
        5   Hadoop  25000   35days       NaN
NA      8       NA   1500   40days       0.0
Pandas  4   Pandas  26000   60days    2500.0
PySpark 1  PySpark  25000   50days    2300.0
Python  7   Python  22000   50days    1600.0
        3   Python  24000   40days    1200.0
Spark   0    Spark  22000   30days    1000.0
        6    Spark  25000   30days    1400.0

# **7. Aplicar más agregaciones**

In [ ]:
# Groupby & multiple aggregations
result = df.groupby('Courses')['Fee'].aggregate(['min','max', 'mean'])
print(result)

           min    max     mean
Courses
Hadoop   23000  25000  24000.0
NA        1500   1500   1500.0
Pandas   26000  26000  26000.0
PySpark  25000  25000  25000.0
Python   22000  24000  23000.0
Spark    22000  25000  23500.0

In [ ]:
df

   Courses    Fee Duration  Discount
0    Spark  22000   30days    1000.0
1  PySpark  25000   50days    2300.0
2   Hadoop  23000   55days    1000.0
3   Python  24000   40days    1200.0
4   Pandas  26000   60days    2500.0
5   Hadoop  25000   35days       NaN
6    Spark  25000   30days    1400.0
7   Python  22000   50days    1600.0
8       NA   1500   40days       0.0

In [ ]:
# Groupby multiple columns & multiple aggregations
result = df.groupby('Courses').aggregate({'Duration':'count','Fee':['min','max']})
print(result)

        Duration    Fee
           count    min    max
Courses
Hadoop         2  23000  25000
NA             1   1500   1500
Pandas         1  26000  26000
PySpark        1  25000  25000
Python         2  22000  24000
Spark          2  22000  25000

# **8. Ejemplo completo de groupby() en DataFrame**

In [ ]:
# **i. Reescribiendo el DataFrame**
Proveedor = (['A']*4+['B']*4+['C']*4)
Pureza = [94, 95, 93, 96, 88, 92, 86, 87, 95, 96, 96, 92]
df3  = pd.DataFrame({'Proveedor': Proveedor, 'Pureza': Pureza})
df3

   Proveedor  Pureza
0          A      94
1          A      95
2          A      93
3          A      96
4          B      88
5          B      92
6          B      86
7          B      87
8          C      95
9          C      96
10         C      96
11         C      92

In [ ]:
# Use groupby() to compute the sum
df4 =df3.groupby(['Proveedor']).sum()
print(df4)

           Pureza
Proveedor
A             378
B             353
C             379

In [ ]:
# Groupby & multiple aggregations
result = df3.groupby('Proveedor')['Pureza'].aggregate(['min','max', 'mean','sum', 'std'])
print(result)

           min  max   mean  sum       std
Proveedor
A           93   96  94.50  378  1.290994
B           86   92  88.25  353  2.629956
C           92   96  94.75  379  1.892969